/* color  */

.blue, .bg-body-tertiary {
    background-color:#202C45;
}

nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;  
    padding: 10px;
    z-index: 3;
}

.hd_container{
   padding: 0;
   width: 100%;
   margin-left: 60px;
   margin-right: 60px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.hd_link{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.hd_link a{
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Barlow',sans-serif;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.hd_link a:hover{
   color: #FCF55F; 
   transform: scale(1.005); 
   transition: transform 0.3s ease;
}

.hd_container button {
    border: none;
    border-radius: 50px;
    background-color: white; 
    width: 180px;
    font-family: 'Barlow',sans-serif;
    line-height: 1rem;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 10px;
    transition: ease-out 0.5s; 
    -webkit-transition: ease-out 0.5s; 
}

.hd_container button a{
    font-family: 'Barlow',sans-serif;
    font-size: medium;
    font-weight: 530;
    cursor: pointer;
    text-decoration: none;
    color:#202C45;
}

.hd_container button a:hover{
color: white;
}

.hd_container button:hover{
    color: white;
    background: #b4ab00;
    box-shadow: inset 200px 0 0 0 #b9b007;
}

/* Style for the slideshow container */

.slideshow-container {
    position: relative;
    top: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
  
}


.mySlides {
    display: none;
    height: 50%;
    width: 100%;
}

.mySlides img{
    width:100%;
    height: 700px;
    object-fit: cover;
    filter: brightness(0.3);
}

.dot-container {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2; 
}

.dot {
    height: 55px;
    width: 55px;
    margin: 0 30px;
    cursor: pointer;
}

.dot i{
    width: 100%;
    height: 100%;
}

.img_dtls {
    position: absolute;
    top: 47%; 
    width: 75%;
    left: 50%; 
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
}

.img_dtls p,
.img_dtls h5,
.img_dtls button {
    margin: 0;
}

.img_dtls p{
    margin-bottom: 30px;
    font-family: Arial ,sans-serif;
    font-size: large;
    color:#FCF55F;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}

.img_dtls h1{
    width: 100%;
    margin-bottom: 30px;
    color: white;
    font-size: 70px;
    font-family: 'Barlow',sans-serif; 
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
}

.img_dtls button {
    border-radius: 50px;
    border: none;
    background-color: #b9b007; 
    width: 180px;
    font-family: 'Barlow',sans-serif;
    line-height: 1rem;
    font-size: 16px;
    font-weight: 500;
    padding: 25px 10px;
    transition: ease-out 0.6s; 
    -webkit-transition: ease-out 0.6s; 
    color: white;
}

.hd_container button a{
    font-family: 'Barlow',sans-serif;
    font-size: medium;
    font-weight: 530;
    cursor: pointer;
    text-decoration: none;
    color:#202C45;
}

.hd_container button a:hover{
color: white;
}


.img_dtls button:hover{
    color: #b9b007;
    background: #202C45;
    box-shadow: inset 200px 0 0 0 #202C45;
}
ul{
    padding-left: 0;
}

.about-section{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px;
}
.column-img{
    width:46%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width:450px;
    height: 600px;
    border-radius: 20px;
    box-shadow: inset black;
}

.column-text{
    align-items: center;
    justify-content: center;
    width: 54%;
}

.card img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 1.5%;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in;
    
}

.card img:hover{
    transform: scale(0.995);
}

.card{
    border:none;
}

.column-text{
    align-self:center;
   
    
}
.column-text .title{
    position: relative;
    font-size: 20px;
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
    color:#202C45;
    margin-bottom: 30px;
}

.column-text .title::after{
    content: "";
    position: absolute;
    display: block;
    top: 105%;
    left: 0%;
    width:85px;
    height:2px;
    background-color: #b4ab00;
}

.title-about{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color:#d5cb06;
    margin-bottom: 40px;
}

.column-text p{
    font-family: 'Times New Roman', Times, serif ;
    color: rgb(71, 71, 71);
}

  .li-group {
 
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .li-group li{
    align-self: baseline;
    list-style: none;
    width:90%;
    order: 1;
  }

  .li-group i{
    
    align-content:center;
    width: 16px;
    height: 16px;
    order: 2;
  }

  .fa-regular , .fa-circle-check{
    display: flex;
   
    justify-content: baseline;
    margin-top: 1px;
    align-items: center;
  }
 

  #btn2  {
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    background-color: #b9b007; 
    width: 130px;
    font-family: 'Barlow',sans-serif;
    line-height: 1rem;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0;
    transition: ease-out 0.6s; 
    -webkit-transition: ease-out 0.6s; 
    color: white;
}


#btn2:hover{
    color: #b9b007;
    background: #202C45;
    box-shadow: inset 200px 0 0 0 #202C45;
}


.section-header {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
}

.section-header p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #202C45;
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #b9b007;
}

.section-header.text-left p::after {
    left: 0;
}

.section-header.text-right p::after {
    left: 50%;
}

.section-header h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    color: #b9b007;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 35px;
    }
}



.service {
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 45px 0 0 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.service .service-item i {
    color: #202C45;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 20px;
}

.service .service-item [class^="flaticon-"]::before {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    background-image: linear-gradient(#E81C2E, #202C45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}

.service .service-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.service .service-item p {
    margin: 0;
}

.price {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.price .row {
    padding: 0 15px;
}

.price .col-md-4 {
    padding: 0;
}

.col-md-4{
    cursor: pointer;
}


.price .featured-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    z-index: 1;
}

.price .no-shadow{
    box-shadow: none;
    z-index: 0;
}

.price .box-shadow{
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    z-index: 1;
}

.price .price-item {
    position: relative;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
}


.price .price-header {
    padding: 45px 0 30px 0;
}

.price .price-header h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.price .price-header h2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5px;
}

.price .price-header h2 span {
    font-size: 25px;
    line-height: 55px;
}

.price .price-item.featured-item h2,
.price .price-item.featured-item h3 {
    color: #b4ab00;
}

.price .yellow h2,
.price .yellow h3 {
    color: #b4ab00;
}
.price .price-body {
    padding: 0 0 20px 0;
}

.price .price-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.price .price-body ul li {
    padding: 0 0 15px 0;
}

.price .price-body ul li i {
    margin-right: 10px;
}

.price .price-body ul li i.fa-check-circle {
    color: #39B972;
}

.price .price-body ul li i.fa-times-circle {
    color: #cccccc;
}

.price .price-item .price-footer {
    padding-bottom: 45px;
}

.price .price-item .price-footer .btn.btn-custom {
    color: #b4ab00;
    background: #202C45;
    box-shadow: inset 0 0 0 0 #b4ab00;
}

.price .price-item .price-footer .btn.btn-custom:hover {
    color: #ffffff;
    background: #b4ab00;
    box-shadow: inset 200px 0 0 0 #b4ab00;
}

.price .price-item.featured-item .price-footer .btn.btn-custom {
    color: #ffffff;
    background: #b4ab00;
    box-shadow: inset 0 0 0 0 #202C45;
}

.price .price-item.featured-item .price-footer .btn.btn-custom:hover {
    color: #b4ab00;
    background: #202C45;
    box-shadow: inset 200px 0 0 0 #202C45;
}

.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #202C45;
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #ffffff;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #FCF55F;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #FCF55F;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
    display: flex;
}

.footer .footer-social a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202C45;
    background: #ffffff;
    border-radius: 40px;
    margin-right: 5px;
    transition: .5s;
}

.footer .footer-social a:last-child {
    margin: 0;
}

.footer .footer-social a:hover {
    color: #ffffff;
    background: #FCF55F;
}

.footer .footer-newsletter form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    margin-bottom: 15px;
    height: 45px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.footer .footer-newsletter label {
    margin-top: 5px;
    color: #777777;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer .footer-newsletter .btn.btn-custom {
    width: 100%;
    color: #202C45;
    background: #ffffff;
    box-shadow: inset 0 0 0 0 #FCF55F;
}

.footer .footer-newsletter .btn:hover {
    color: #ffffff;
    background: #FCF55F;
    box-shadow: inset 200px 0 0 0 #FCF55F;
}

.footer .copyright {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 45px;
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright p a {
    color: #FCF55F;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}




